.hidden{
    display: none !important; 
}
.user-form{
    background-color: white;
    display: flex;
    height:clamp(400px,70vh,500px);
    align-items: center;
    width: clamp(280px,25vw,600px);
    padding:20px;
    border:0.5px black solid;
    border-radius:2px;
    font-family: monospace;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.key-list{
    width:95% ;
    min-height: 50px;
  
}
.keys{
    width:clamp(260px
    
    , 24vw, 550px);
    position: relative;
    right:-10px;
    padding:20px 0px;
    
}


::-webkit-scrollbar {
    width: 2px; /* Width of the entire scrollbar */
    border-radius: 2px;

}
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll handle */
    height:20px;
}
.option{
    display:flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 10px;      
}
.option-header{
    color: #0077ff;
    font-family: 'Courier New', Courier, monospace;
    

}
.key-list{
    background-color: #f5f5f5;
    border-radius: 4px;
    padding:4px;
    margin-bottom: 5px;
}
.add-key{
    position: relative;
    top:-2px;
    padding: 2px;
    
}
.key-input{
    display: flex;
}
.close{
    background-color: white;
    border:none;
    position:relative;
    
}

.user-form form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-header{
    color:#0077ff;
    font-size: 30px;
   
    margin:2px;
}

.user-form-submit{
     margin-top: 20px;
     font-weight:500;
     padding:10px;
     color:white;
     margin-bottom: 0;
     border-radius: 20px;
     background-color: rgb(0, 119, 255);
     border:none;
     font-family: 'Courier New', Courier, monospace;
     font-size: 17px;
     width: clamp(240px,22vw,560px);
  
}
.user-form-input{
     font-family: 'Courier New', Courier, monospace;
     margin-bottom:14px;
     width: clamp(240px,22vw,560px);
     padding:10px;
}
.add-key-div{
    float:right;
    display: flex;
    align-items:flex-end;
    justify-content: center;

}
.user-key-input{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom:3px;
    width: clamp(220px,20vw,500px);
    padding:2px;
    height: 11px;
    
}


.user-form-overlay{
    backdrop-filter: blur(3px);
    width: 100vw;
    top:0;
    left:0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    z-index:0;
}

.google-sign-in{
   color:rgb(0, 119, 255);
   background-color: white;
   margin-top: 10px;
   border:2px rgb(0, 119, 255) solid;

}
